*{
	margin:0;
	padding:0;
}
html, body{
	height:100%
}

body{
	bacground-color:#0c0129;
	background-image:url(images/pagebg.jpg);
	background-position:center;
	background-size:cover;

}

.header{
	width:600px;
	height:500px;
	margin:auto;
	text-align:center;  
}
.content{
	width:600px;
	height:300px;
	margin:auto;
	text-align:center;  
}

.maintitle{
	display: block;
	text-alight:center;
	color:#8B008B;
	font-size:60pt;
	font-family: sans-serif;
	
}

.map{
	 height: 400px;
     width: 100%;
}
